* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    height: 70px;
    align-items: center;
    flex-direction: row;
    background-color: lightgray;
}

nav ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 100px;
    font-weight: bold;
}

li:first-child {
    margin-left: 100px;
}