body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#details {
  height: 50%;
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1,
p {
  display: inline-block;
  text-align: center;
}

h1,
tr,
#check,
input[type="submit"] {
  font-family: Playfair Display;
}

h1 {
  font-size: 80px;
}

.center {
  position: flex;
  flex-basis: 75%;
  justify-content: center;
}

#particulars,
#no-slot {
  display: none;
}

table {
  position: relative;
  top: 45px;
}

td {
  padding: 10px;
}

p,
label,
input,
#particulars a,
th {
  font-size: 20px;
}

input,
select {
  border: none;
  border-bottom: 1px solid lightgrey;
}

select {
  font-size: 20px;
}

#check,
#submit {
  padding: 15px;
  background-color: white;
  border: none;
  font-weight: bold;
}

#check:hover,
#submit:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

#particulars {
  height: max-content;
  width: 40%;
  border: 1px solid #d4af37;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  bottom: 100px;
}


#text {
  display: flex;
  justify-content: center;
  margin: 50px 30px;
}

#inline {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px 0;
  flex-wrap: wrap;
}

#inline input {
  flex-direction: row;
}

#radio,
#particulars input {
  margin: 5px 15px;
}
