* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.3em;
}

main {
  display: flex;
  width: 100vw;
  height: 80%;
  justify-content: center;
  align-items: center;
}

h1,
.change-restaurant p,
table {
  font-family: Playfair Display;
}

form {
  padding: 75px 50px;
  border: 1px solid #d4af37;
  border-radius: 15px;
}

#details {
  width: 70%;
}

#above {
  width: 80%;
  display: inherit;
  justify-content: space-between;
}

#availability input,
#submit {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: black;
  font-weight: bold;
  font-family: Playfair Display;
  font-size: 15px;
  color: white;
}

#availability input:hover,
#submit:hover {
  cursor: pointer;
  background-color: #a79820;
}

#change-restaurant p,
#change-restaurant select {
  display: inline-block;
}

#parameters {
  display: inherit;
  position: relative;
  bottom: 63px;
  left: 76%;
}

#particulars,
#no-slot {
  display: none;
}

#radio {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

#text {
  margin-bottom: 50px;
}

.required {
  font-size: 14px;
  color: red;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.inline input {
  width: 70%;
  border: none;
  border-bottom: darkgray 1px solid;
}