body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left,
#right {
  display: inline-block;
}

#right {
  float: right;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.center input, #particulars a {
  padding: 15px;
  background-color: white;
  border: 0px;
  font-weight: bold;
}

.center input:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
}

#particulars,
#no-slot {
  visibility: hidden;
}

#heading {
  margin: 50px 0px 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1,
p {
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 80px;
}

p,
label,
input,
#particulars a,
th {
  font-size: 20px;
}

input,
select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
}

select {
  width: 70%;
  font-size: 20px;
}

#particulars {
  height: 100%;
  margin: 0px 200px;
}

#inline-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}

#inline-block input {
  flex-direction: row;
}

#radio, #particulars input {
  margin: 5px 0px;
}

table {
  position: relative;
  top: 40px
}

#particulars a:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
}

#particulars a {
  position: relative;
  bottom: 100px;
  text-decoration: none;
}