* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica-Neue, sans-serif;
  }
  
  main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section,
  aside {
    flex-direction: row;
    padding: 0px 100px;
  }
  
  section {
      width: 250px;
  }
  
  aside {
    width: 50%;
    height: 100%;
    justify-self: right;
  }
  
  img {
      height: 100%;
    object-fit: cover;
  }
  
  a {
      display: inline-block;
  }