/* no space on the sides */

header {
  position: fixed;
  width: 100vw;
  height: 100px;
  top: -0.0001px;
  z-index: 1;
  background-color: white;
  border-bottom: black 1px solid;
}

header nav {
  height: 100%;
  justify-content: space-around;
}

header nav ul {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  width: 250px;
  list-style-type: none;
  text-align: left;
    padding: 40px 50px;
}

li:first-child{
  font-size: 30px;
}

header button {
  padding: 15px;
  background-color: white;
  border: none;
  font-weight: bold;
  font-family: PLayfair Display;
}

header button:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
}

li img {
  width: 100px;
}
