/* no space on the sides */

header {
  position: fixed;
  width: 100vw;
  height: 100px;
  top: -10px;
  z-index: 2;
  background-color: white;
  border-bottom: black 1px solid;
}

header nav {
  position: relative;
  justify-content: space-around;
  height: 100%;
}

header nav ul {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

header nav ul li {
  position: relative;
  list-style-type: none;
  align-content: center;
  width: 200px;
  margin: 0px 150px;
}

header button {
  padding: 15px;
  background-color: white;
  border: none;
  font-weight: bold;
  font-family: PLayfair Display;
}

header button:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
}

li img {
  width: 170px;
}
